/1_ROLE-1 - Handout 1 - Salesforce Developer Syllabus_v1.pdf
/2_RP-0 - Participant Handout_v1.pdf
/Behavioral Skills and Mindsets Brainstorming Handout_v1.pdf
/Copy of SFD - All-in-One Scorecard_Sush - Scorecard.pdf
/Copy of SFD Student Workbook Sush Week 1 finished.pdf
/Hardware+Software Requirements - Salesforce Developer Program (AUS Online) (1).docx
/Screenshot (6).png
/SFD4 Computing.html
/SlackSetup.exe